<div *ngIf="isLoading && !posts.length" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="error && !posts.length" class="error-message">
  <p>{{ error }}</p>
</div>

<div *ngIf="!isLoading && !posts.length && !error" class="empty-state">
  <p>No posts available. Try again later.</p>
</div>

<ng-container *ngIf="!isLoading"> <h2 class="shreddit-logo">Shreddit</h2> </ng-container>

<ng-container >
  <button (click)="navigate()">Log out</button>

  <ul>
    <li *ngFor="let post of posts" class="post" (click)="openPostDetails(post)">
      <div class="post-details">
        <h3>{{ post.title }}</h3>
        <p [style.color]="getUpvoteColor(post.ups)">▲ {{ post.ups }}</p>
        <p>Comments: {{ post.num_comments }}</p>
      </div>

      <div class="post-image-container">
        <img
          [src]="getPostImageUrl(post)"
          alt="Post Image"
          class="post-image"
        />
        <div class="image-popup">
          <img [src]="getPostImageUrl(post)" alt="Preview Image" />
        </div>
      </div>
      
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="selectedPost">
  <div class="overlay" (click)="closePostDetails()"></div>
  <div class="post-details-container" (click)="$event.stopPropagation()">
    <h3>{{ selectedPost.title }}</h3>

    <div class="post-statistics">
      <p class="statistics">
        <strong>Author</strong>: {{ selectedPost.author }}
      </p>
      <p class="statistics">
        <strong>Created</strong>: {{ selectedPost.created_utc * 1000 | date: 'medium' }}
      </p>
    </div>
    
    <p [innerHTML]="formatSelfText(selectedPost.selftext)"></p>

    <div *ngIf="getPostImageUrl(selectedPost, false)" class="post-image-container">
      <img [src]="getPostImageUrl(selectedPost, false)" alt="Post Image" class="post-image-detailed"/>
    </div>

    <div *ngIf="selectedPost?.url_overridden_by_dest">
      <a [href]="selectedPost.url" target="_blank" rel="noopener noreferrer">
        {{ selectedPost.url }}
      </a>
    </div>

    <p [style.color]="getUpvoteColor(selectedPost.ups)">▲ {{ selectedPost.ups }}</p>

    <div class="comments-container" *ngIf="selectedPost.comments && selectedPost.comments.length">
      <h4 *ngIf="selectedPost.num_comments > 1">Comments: {{ selectedPost.num_comments }}</h4>
      <ul>
        <li *ngFor="let comment of selectedPost.comments" class="comment">
          <p><strong class="comment-author">{{ comment.author }}</strong>: {{ comment.body }}</p>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
